@import 'setup';
@import 'header';
@import 'utils';
@import 'date';
@import 'about';
@import 'join';
@import 'speakers';
@import 'pricing';
@import 'schedule';
@import 'quotes';
@import 'news';

html {
  font-size: 62.5%;
}

.wrapper {
	width: 70%;
	margin: 0 auto;
}

img {
	display: block;
	width: 100%;
}

a {
	text-decoration: none;
}

.purple {
	background-color: #463f8c;
}

.pink {
	background-color: #e85889;
}

.hide {
	display: none;
}

.subheader {
	text-align: center;

	h2 {
		text-transform: uppercase;
		font-family: 'Raleway', sans-serif;
		font-size: 2.4rem;
		font-weight: 800;
	}

	p {
		font-family: 'Poppins', sans-serif;
	} 

	.line {
		width: 50px;
		display: block;
		border-bottom: 1px solid $pink;
		margin: 0 auto;
	}
}

.about__subheader,
.speakers__subheader,
.schedule__subheader,
.news__subheader {
	p {
		color: $grey;
		font-style: italic;
	}
}