@import 'setup';
@import 'utils';
@import 'components/header';
@import 'components/date';
@import 'components/about';
@import 'components/join';
@import 'components/speakers';
@import 'components/pricing';
@import 'components/schedule';
@import 'components/quotes';
@import 'components/news';
@import 'components/newsletter';
@import 'components/contact';
@import 'components/footer';

html {
  font-size: 62.5%;
}

body {
	width: 100%;
	margin: auto;
}

.wrapper {
	width: 70%;
	margin: 0 auto;
	@media (max-width: 1100px) {
		width: 80%;
	}
	@media (max-width: 1000px) {
		width: 85%;
	}
}

img {
	display: block;
	width: 100%;
}

a {
	text-decoration: none;
}

.button {
	border-radius: 3px;
	width: 100px;
	text-align: center;
	

  a {
    display: block;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 700;
    color: white;
		white-space: nowrap; 
		padding: 10px 0;
  }
}

.purple {
	background-color: #463f8c;
}

.pink {
	background-color: #e85889;
}

.hide {
	display: none;
}

.text--uppercase {
	text-transform: uppercase;
}

.section--padding {
	padding: 60px 0;
}

.subheader {
	text-align: center;

	h2 {
		text-transform: uppercase;
		font-family: 'Raleway', sans-serif;
		font-size: 2.4rem;
		font-weight: 800;
	}

	p {
		font-family: 'Poppins', sans-serif;
	} 

	.line {
		width: 50px;
		display: block;
		border-bottom: 1px solid $pink;
		margin: 0 auto;
	}
}

.about__subheader,
.speakers__subheader,
.schedule__subheader,
.news__subheader {
	padding-bottom: 50px;

	p {
		color: $grey;
		font-style: italic;
	}
}