article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

header {
  background-image: url(../../images/main-image.png);
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: fixed; }

.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .top-nav__nav ul li {
    display: inline-block;
    list-style: none; }
    .top-nav__nav ul li a {
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      font-weight: 600; }
    .top-nav__nav ul li a.search {
      width: 44px;
      height: 44px;
      background-color: #ed5788;
      padding: 20px;
      border-radius: 50%; }

.top-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .top-main__button {
    background-color: rgba(255, 255, 255, 0.28);
    padding: 20px 5px; }
    .top-main__button a i {
      font-size: 1.1rem;
      color: white; }
  .top-main__div {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
    .top-main__div__mic i {
      font-size: 1.8rem; }
    .top-main__div__headers h3 {
      font-family: 'Poppins', sans-serif;
      font-style: italic;
      font-size: 2.2rem;
      line-height: 2.6rem; }
    .top-main__div__headers h1 {
      font-family: 'Raleway', sans-serif;
      font-size: 4.4rem;
      text-transform: uppercase; }
    .top-main__div__button a {
      border-radius: 5px;
      background-color: #e85889;
      padding: 12px 35px;
      text-decoration: none;
      color: white;
      font-family: 'Raleway', sans-serif;
      font-size: 1.5rem; }

.date {
  background: #fafafa; }
  .date__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.address {
  text-transform: uppercase; }
  .address p {
    font-family: 'Poppins', sans-serif;
    color: #777;
    font-size: 1rem;
    font-weight: 500; }
  .address h3 {
    font-family: 'Raleway', sans-serif;
    color: #222;
    font-size: 2rem;
    font-weight: 700; }

.count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.number-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .number-box .boxes {
    color: white;
    background-color: #222;
    width: 25px;
    height: 30px;
    margin: 0.5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 3px; }
    .number-box .boxes p {
      font-family: 'Poppins', sans-serif;
      font-size: 1.3rem;
      margin: 0; }

.number-box:after {
  content: ':';
  padding: 10px 3px; }

.last:after {
  content: ""; }

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .buttons .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 3px;
    margin: auto; }
    .buttons .button a {
      padding: 15px 30px;
      font-family: 'Raleway', sans-serif;
      text-transform: uppercase;
      font-size: 1.1rem;
      font-weight: 700;
      color: white;
      white-space: nowrap; }
  .buttons .button:first-child {
    margin-right: 13px; }

.about__subheader h2 {
  color: #222; }

.about__subheader p {
  font-style: italic;
  font-size: 1.2rem; }

.about__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px; }
  .about__images__container {
    -webkit-box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.03);
            box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.03); }
    .about__images__container:hover {
      -webkit-box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.13);
              box-shadow: 2px 4px 18px 0px rgba(0, 0, 0, 0.13); }
      .about__images__container:hover .text a {
        color: #463f8c; }
  .about__images__container:not(:last-child) {
    margin-right: 30px; }

.text {
  margin: 25px 19px; }
  .text__header {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: #222; }
  .text__paragraph {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #777;
    line-height: 2rem; }
  .text a {
    color: #e85889;
    font-style: italic; }

.join {
  background-color: #463f8c;
  color: #fff; }
  .join__subheader {
    width: 65%;
    margin: 0 auto; }
    .join__subheader h2.white {
      font-weight: 700; }
    .join__subheader p {
      font-size: 1rem; }
  .join__form form {
    margin: 0 auto;
    position: relative; }
    .join__form form input[type=text] {
      color: #fff;
      border: 1px solid #fff;
      border-right: none;
      background-color: rgba(70, 63, 140, 0);
      width: 60%;
      border-radius: 5px;
      padding: 12.5px 20px; }
    .join__form form input[type=submit] {
      position: absolute;
      background-color: #e85889;
      color: #fff;
      border: 1px solid #e85889;
      padding: 12.5px 20px;
      right: 100px; }

.headshots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .headshots__headshot:not(:last-child) {
    margin-right: 20px; }
  .headshots__headshot {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    position: relative; }
  .headshots__icons {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    bottom: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }

.icon {
  background-color: #222;
  border-radius: 50%;
  padding: 20px; }
  .icon i {
    display: block;
    color: #fff;
    font-size: 1.5rem; }

.icon:not(:last-child) {
  margin-right: 6px; }

html {
  font-size: 62.5%; }

.wrapper {
  width: 70%;
  margin: 0 auto; }

img {
  display: block;
  width: 100%; }

a {
  text-decoration: none; }

.purple {
  background-color: #463f8c; }

.pink {
  background-color: #e85889; }

.hide {
  display: none; }

.subheader {
  text-align: center; }
  .subheader h2 {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 2.4rem;
    font-weight: 800; }
  .subheader p {
    font-family: 'Poppins', sans-serif; }
  .subheader .line {
    width: 50px;
    display: block;
    border-bottom: 1px solid #e85889;
    margin: 0 auto; }
