.date {
  background: #fafafa;
  
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    flex-flow: row wrap;

    @media (max-width: 830px) {
      flex-flow: column wrap;
    }
  }
}

.address {
  text-transform: uppercase;

  @media (max-width: 830px) {
    text-align: center;
  }

  p {
    font-family: 'Poppins', sans-serif;
    color: $grey;
    font-size: 1rem;
    font-weight: 500;
  }
  
  h3 {
    font-family: 'Raleway', sans-serif;
    color: #222;
    font-size: 2rem;
    font-weight: 700;
  }
}

.count {
  display: flex;
}

.number-box {
  display: flex;

  .boxes {
    color: white;
    background-color: #222;
    width: 25px;
    height: 30px;
    margin: 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    
    p {
      font-family: 'Poppins', sans-serif;
      font-size: 1.3rem;
      margin: 0;
    }
  }
}

.number-box:after {
  content: ':';
  padding: 10px 3px;
}

.last:after {
  content: '',
}

.buttons {
  display: flex;

  &__button:first-child {
    margin-right: 13px;
  }
}