header {
  background-image: url(../../images/main-image.png);
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: fixed;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.22);

  &__logo-container {

  }

  &__nav {

    ul {

      li {
        display: inline-block;
        list-style: none;
        a {
          text-decoration: none;
          color: white;
          text-transform: uppercase;
          font-weight: 600;
        }
        a.search {
          width: 44px;
          height: 44px;
          background-color: #ed5788;
          padding: 20px;
          border-radius: 50%;
        }
      }
    }
  }
}

.top-main {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__button {
    background-color: rgba(255, 255, 255, 0.28);
    padding: 20px 5px;
    
    a {

      i {
        font-size: 1.1rem;
        color: white;
      }
    }
  }

  &__div {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &__mic {

      i {
        font-size: 1.8rem;
      }
    }

    &__headers {
      
      h3 {
        font-family: 'Poppins', sans-serif;
        font-style: italic;
        font-size: 2.2rem;
        line-height: 2.6rem;
      }
      h1 {
        font-family: 'Raleway', sans-serif;
        font-size: 4.4rem;
        text-transform: uppercase;
      }
    }

    &__button {
      
      a {
        border-radius: 5px;
        background-color: #e85889;
        padding: 12px 35px;
        text-decoration: none;
        color: white;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5rem;
      }
    }
  }
}