.news {

  &__articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    // grid-auto-rows: minmax(100px, auto);
    grid-gap: 30px;

    &__container--1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column: 1 / 3;
      grid-row: 1;
    }

    &__container--2 {
      display: grid;
      grid-template-rows: 1fr 1fr;
    }
    
  }
}

.text {
  font-family: 'Poppins', sans-serif;

  &__header {
    font-size: 1.6rem;
    margin: 30px 0 0 0;
    font-family: 'Raleway', sans-serif;
    color: $black;
    font-weight: 600;
  }
  &__name {
    font-size: 1rem;
    color: #ababab;
    margin: 5px 0 40px 0;
  }

  &__subject {
    color: $grey;
  }
}











// .news {

//   &__articles {
//     display: flex;
//     width: 100%;

//     &__left {
//       width: calc((2 / 3) - 20px);
//       padding-right: 20px;

//       &__top {
//         display: flex;
//         width: 100%;
//         background-color: #fafafa;

//         &__img {
//           width: calc((1 / 2) - 20px );
//           padding-right: 20px;
//           background-size: cover;
//         }

//         &__text {
//           width: calc((1 / 2) - 20px );
//         }
//       }
//     }

//     &__right {
//       width: calc((1 / 3) - 30px);
//       background-color: #fafafa;
//     }

//     &__txt {
//       font-family: 'Poppins', sans-serif;
      
//       &__header {
//         font-size: 1.6rem;
//         margin: 30px 0 0 0;
//         font-family: 'Raleway', sans-serif;
//         color: $black;
//         font-weight: 600;
//       }

//       &__name {
//         font-size: 1rem;
//         color: #ababab;
//         margin: 5px 0 40px 0;
//       }

//       &__subject {
//         color: $grey;

//       }
//     }

  
//   }
  
// }