.pricing {
  background: url(../../images/pricing-image.png) no-repeat, center;

  &__subheader {
    padding-bottom: 50px;
    color: #fff;

    p {
      font-style: italic;
    }
  }
}

.plans {
  display: flex;
  width: 100%;
  background-color: #fff;
  padding: 10px; 
  box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.04);

  @media (max-width: 600px) {
    flex-flow: column;
    align-items: center;
    width: 300px;
    margin: 0 auto;
  }

  &__plan {
    background-color: #ececec;
    width: calc(100% / 3);
    position: relative;
    overflow: hidden;
    margin: 2rem 1rem;

    @media (max-width: 750px) {
      width: 250px;
    }

    span {
      background-color: $purple;
      color: #fff;
      position: absolute;
      font-family: 'Raleway', sans-serif;
      font-weight: 500;
      line-height: 2.4rem;
      transform: rotate(45deg);
      right: -40px;
      top: 18px;
      white-space: nowrap;
      padding: 0 4rem;
    }

    &__price {
      text-align: center;

      h5 {
        font-family: 'Raleway', sans-serif;
        color: $black;
        font-size: 1.7rem;
        font-weight: 500;
        margin: 0;
        padding: 40px 0 10px;
      }

      h6 {
        font-family: 'Poppins', sans-serif;
        color: $grey;
        font-size: 1.2rem;
        font-weight: 300;
        margin: 0;
        padding-bottom: 10px;
      }

      &__blackline {
        display: block;
        width: 30px;
        border-bottom: 1px solid black;
        margin: 0 auto;
      }

      h2 {
        display: inline-block;
        font-family: 'Poppins', sans-serif;
        font-size: 3.4rem;
        position: relative;
        font-weight: 500;
      }

      h2::before {
        content:"$";
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        font-weight: 300;
        position: absolute;
        left: -35%;
        top: 15%;
      }
      
      p {
        display: inline-block;
        font-family: 'Poppins', sans-serif;
        color: $grey;
        font-size: 1.2rem;
      }
    }

    &__dotted {
      width: 100%;
      border-top: 1px dotted $grey;

      @media (max-width: 940px) {
        display: none;
      } 

      p {
        color: $grey;
        font-family: 'OpenSans';
        font-size: 1.1rem;
        padding: 13px 0 13px 20%;
        margin: 0;
      }
    }
  }

  &__button {
    margin: 10px 0 20px 50px;

    @media (max-width: 940px) {
      margin: 15px auto;
      
    }
  
  }
}