.schedule {
  background-color: #fafafa;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &__left {
      width: calc(35% - 30px);
      margin-right: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__line {
        .dotted {
          width: 20px;
          border: 1px dashed #e0e0e0;
          border-right: none;
          height: 140px;
        }
      }

      &__days {
        width: 80%;
      }

      &__text {
        font-family: 'Poppins', sans-serif;
        border: 1px solid #ececec;
        padding: 15px 25px;

        p:first-child {
          font-size: 1rem;
          margin: 0;
        }
        p:nth-of-type(2) {
          font-size: 1.5rem;
          margin: 0;
        }
      }
      &__text:hover {
        background: $pink;

        p:first-child {
          color: #f8c4d6;
        }
        p:nth-of-type(2) {
          color: #fff;
        }
      }

    }

    &__right {
      width: 62%;
      padding-left: 50px;

      &__text:not(:last-child) {
        margin-bottom: 50px;
      }

      &__text {
        position: relative;
        

        &__name, &__subject {
          font-family: 'Raleway', sans-serif;
          color: $black;
        }

        &__name {
          font-size: 1.1rem;
          font-weight: 400;

          span {
            font-size: 0.9rem;
            color: $grey;
          }
        }

        &__subject {
          font-size: 1.3rem;
          font-weight: 700;
        }

        &__quote {
          font-family: 'Poppins', sans-serif;
          color: #666;
          font-size: 1.1rem;

          @media (max-width: 500px) {
            display: none;
          }
        }
      }

      &__text1::before {
        content: "";
        background: url(../../images/schedule-1.png);
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 50%;
        border: 3px solid #f2f2f2;
        width: 50px;
        height: 50px;
        position: absolute;
        left: -70px;
        top: 20%;
      }
      &__text2::before {
        content: "";
        background: url(../../images/schedule-2.png);
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 50%;
        border: 3px solid #f2f2f2;
        width: 50px;
        height: 50px;
        position: absolute;
        left: -70px;
        top: 20%;
      }
      &__text3::before {
        content: "";
        background: url(../../images/schedule-3.png);
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 50%;
        border: 3px solid #f2f2f2;
        width: 50px;
        height: 50px;
        position: absolute;
        left: -70px;
        top: 20%;
      }
    }
  }
}

@media (max-width: 800px) {
  .schedule {
    &__container {
      display: block;

      &__left {
        width: 100%;
        flex-flow: column;
        margin-bottom: 50px;

        &__line {
          display: none;
        }

        &__days {
          display: flex;
          justify-content: center;
        }
      }

      &__right {
        margin: 0 auto;
        width: 80%;
        padding: 0;
        
        &__text {
          border: 1px dashed #e0e0e0;
          padding: 10px 10px 10px 70px;
        }

        &__text1::before {
          top: 30%;
          left: 10px;
        }

        &__text2::before {
          top: 30%;
          left: 10px;
        }

        &__text3::before {
          top: 30%;
          left: 10px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .schedule {
    &__container {
      &__left {
        width: 100%;
        margin-bottom: 50px;

        &__days {
          display: flex;
          flex-flow: column;
          width: 80%;
          text-align: center;
        }

        &__text {
          padding: 5px 5px;
        }
      }

      &__right {
        margin: 0 auto;
        width: 80%;
      }
    }
  }
}